.modal-container-confirm-product {
    margin-top: 112px;
    display: flex;
    width: 439px;
    height: fit-content;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 24px;
    border: 1px solid var(--OutlineVariant-color);
    background-color: var(--White-color);
}

.product-confirm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: var(--Default-text);
}

.product-img-title {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.img-product {
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 16px;
}

.product-title {
    margin: 0;
    overflow: hidden;
    color: var(--Outline-color);
}