/* Font style */

.kanit-Display-Large {
    font-family: "Kanit", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
  
.kanit-Display-Medium {
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
  
.kanit-Display-Small {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.kanit-Display-Large-R {
    font-family: "Kanit", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.kanit-Display-Medium-R {
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.kanit-Display-Small-R {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
  
.kanit-H1 {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
  
.kanit-H2 {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
  
.kanit-H3 {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
  
.kanit-H4 {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
  
.kanit-paragraphBig {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
  
.kanit-paragraphMedium {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
  
.kanit-paragraphtextMedium {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
  
.kanit-paragraphSmall {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
  
.kanit-paragraphVerySmall {
    font-family: "Kanit", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
  
.kanit-subtitle {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
  
.kanit-valueList {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
  
.kanit-Bigvalue {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
  
.kanit-allCap {
    font-family: "Kanit", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
  
.kanit-LinkBig {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    text-decoration-line: underline;
}

.kanit-LinkMedium {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-decoration-line: underline;
}

.kanit-Linksmall {
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-decoration-line: underline;
}

/* Color style */
:root {
    /* Text color */
    --White-text: #ffffff;
    --Default-text: #00243D;
    --Tertiary-text: #D0C58A;

    /* Primary */
    --PfixedVariant-color: #00538F;
    --Poutline-color: #00243D;
    --Phover-color: #00538F;
    --Psecondary-color: #85CCFF;
    --Pdim-color: #ADDDFF;
    --Pcontainer-color: #D6EEFF;

    /* Secondary */
    --SfixedVariant-color: #3C5340;
    --Soutline-color: #4D6A52;
    --Shover-color: #5E8264;
    --Ssecondary-color: #B8CCBB;
    --Sdim-color: #D0DDD2;
    --Scontainer-color: #E7EEE8;

    /* Tertiary */
    --TfixedVariant-color: #665C29;
    --Toutline-color: #D0C58A;
    --Thover-color: #E8E2C5;
    --Tcontainer-color: #F3F0E2;

    /* Neutral */
    --White-color: #ffffff;
    --S10-color: #3C3C3C;
    --OnSurface-color: #1B1B20;
    --SurfaceVariant-color: #45454F;
    --Outline-color: #74747E;
    --OutlineVariant-color: #C4C4D0;
    --Surface-color: #F7F7FF;
    --Des-color: #E0E0E9;
    --SurfaceBright-color: #F9F9FF;
    --Correct-color: #40BC55;
    --CorrectContainer-color: #E9F8EC;
    --Error-color: #DC362E;
    --ErrorContainer-color: #FCEEEE;
    --Warning-color: #FFB800;
    --WarningContainer-color: #FFF8E5;
}