.offer-sell-bg {
    display: flex;
    flex-direction: column;
    padding: 32px 148px;
    gap: 24px;
    align-items: flex-start;
    color: var(--Default-text);
}

.offer-content {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    gap: 32px;
}

.offer-right-content {
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    background: var(--SurfaceBright-color);
}

.offer-title-seller-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.offer-price-list {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-self: stretch;
}

.offer-seller {
    color: var(--Soutline-color);
}