/* .custom-carousel {
    height: 400px;
  } */

.img-slide-banner {
  display: flex;
  height: 240px;
  width: 1144px;
  object-position: center;
  object-fit: cover;
  /* width: 100%; */
  overflow: hidden;
  border-radius: 16px;
}

@media screen and (max-width: 480px) { 
  .img-slide-banner {
    width: 100%;
  }
}