/* Small primary button */
.btn-small-primary {
    display: inline-flex;
    width: 100%;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Soutline-color);
    color: var(--White-color);
    transition: all 0.2s ease;
}

.btn-small-primary:hover {
    display: inline-flex;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Shover-color);
}

.btn-small-primary:Clicked {
    display: inline-flex;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--OutlineVariant-color-color);
}

.btn-small-primary-disabled {
    display: inline-flex;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--OutlineVariant-color);
}

/* Small secondary button */
.btn-small-secondary {
    display: inline-flex;
    width: 100%;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--Soutline-color);
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--SfixedVariant-color);
    transition: all 0.2s ease;
}

.btn-small-secondary:hover {
    display: inline-flex;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: solid 2px var(--Soutline-color);
    border-radius: 40px;
    background-color: var(--Sdim-color);
}

.btn-small-secondary:Clicked {
    display: inline-flex;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--Soutline-color);
    border-radius: 40px;
    background-color: var(--SfixedVariant-color);
}

.btn-small-secondary-disabled {
    display: inline-flex;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--OutlineVariant-color);
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--OutlineVariant-color);
}

/* Small link-ghost button */
.btn-small-link-ghost {
    display: inline-flex;
    width: 100%;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    color: var(--SfixedVariant-color);
    transition: all 0.2s ease;
}

.btn-small-link-ghost:hover {
    display: inline-flex;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Sdim-color);
}

.btn-small-link-ghost:Clicked {
    display: inline-flex;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Sdim-color);
}

.btn-small-link-ghost-disabled {
    display: inline-flex;
    width: 100%;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--OutlineVariant-color);
}

/* Medium primary button */
.btn-medium-primary {
    display: inline-flex;
    width: 100%;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Soutline-color);
    color: var(--White-color);
    transition: all 0.2s ease;
}

.btn-medium-primary:hover {
    display: inline-flex;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Shover-color);
}

.btn-medium-primary:Clicked {
    display: inline-flex;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--SfixedVariant-color);
}

.btn-medium-primary-disabled {
    display: inline-flex;
    width: 100%;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--OutlineVariant-color);
    /* color: var(--White-color); */
}

/* Medium secondary button */
.btn-medium-secondary {
    display: inline-flex;
    width: 100%;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--Soutline-color);
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--SfixedVariant-color);
    transition: all 0.2s ease;
}

.btn-medium-secondary:hover {
    display: inline-flex;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: solid 2px var(--Soutline-color);
    border-radius: 40px;
    background-color: var(--Sdim-color);
}

.btn-medium-secondary:Clicked {
    display: inline-flex;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--Soutline-color);
    border-radius: 40px;
    background-color: var(--SfixedVariant-color);
}

.btn-medium-secondary-disabled {
    display: inline-flex;
    width: 100%;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--OutlineVariant-color);
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--OutlineVariant-color);
}

/* Medium link-ghost button */
.btn-medium-link-ghost {
    display: inline-flex;
    width: 100%;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--SfixedVariant-color);
    transition: all 0.2s ease;
}

.btn-medium-link-ghost:hover {
    display: inline-flex;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Sdim-color);
}

.btn-medium-link-ghost:Clicked {
    display: inline-flex;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Sdim-color);
}

.btn-medium-link-ghost-disabled {
    display: inline-flex;
    width: 100%;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--OutlineVariant-color);
}

/* Large primary button */
.btn-large-primary {
    display: inline-flex;
    width: 100%;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Soutline-color);
    color: var(--White-color);
    transition: all 0.2s ease;
}

.btn-large-primary:hover {
    display: inline-flex;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Shover-color);
}

.btn-large-primary:Clicked {
    display: inline-flex;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--SfixedVariant-color);
}

.btn-large-primary-disabled {
    display: inline-flex;
    width: 100%;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--OutlineVariant-color);
}

/* Large secondary button */
.btn-large-secondary {
    display: inline-flex;
    width: 100%;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--Soutline-color);
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--SfixedVariant-color);
    transition: all 0.2s ease;
}

.btn-large-secondary:hover {
    display: inline-flex;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: solid 2px var(--Soutline-color);
    border-radius: 40px;
    background-color: var(--Sdim-color);
}

.btn-large-secondary:Clicked {
    display: inline-flex;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--Soutline-color);
    border-radius: 40px;
    background-color: var(--SfixedVariant-color);
}

.btn-large-secondary-disabled {
    display: inline-flex;
    width: 100%;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--OutlineVariant-color);
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--OutlineVariant-color);
}

/* Large link-ghost button */
.btn-large-link-ghost {
    display: inline-flex;
    width: 100%;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--SfixedVariant-color);
    transition: all 0.2s ease;
}

.btn-large-link-ghost:hover {
    display: inline-flex;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Sdim-color);
}

.btn-large-link-ghost:Clicked {
    display: inline-flex;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--Sdim-color);
}

.btn-large-link-ghost-disabled {
    display: inline-flex;
    width: 100%;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 40px;
    background-color: var(--White-color);
    color: var(--OutlineVariant-color);
}